footer {
  background-color: var(--color-danger);
  border-radius: 12px;

  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: var(--fw-semibold);
  color: var(--always-white);

  align-items: center;

  margin-top: 2.25rem;
  padding: .75rem;
  gap: .5rem;

  & button {
    display: flex;
    align-self: center;
    margin-left: auto;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
}