form {
  margin-top: 1rem;

  & h1 {
    font-family: 'inter', sans-serif;
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    color: var(--content-primary);
    line-height: 2rem;
  }

  & #add-item {

    margin-top: 2.75rem;

    & label {
      gap: 1rem;

      & input {
        height: 2.75rem;
        border-radius: 12px;
        padding-left: 1.125rem;
        border: 1px solid var(--border-primary);
        outline: none;
        font-family: 'inter', sans-serif;

        &:hover {
          border: 1px solid var(--border-secondary);
        }

        &:focus {
          border: 1px solid var(--color-brand);
          color: var(--content-primary);
        }
      }

      & button {
        height: 2.75rem;
        border-radius: 12px;
        font-family: 'inter', sans-serif;
        color: var(--always-white);
        background-color: var(--color-brand);
        border: none;
        outline: none;

        &:active {
          background-color: var(--color-brand-hover);
        }
      }

    }
  }
}



@media (width >=80em) {

  .item-list {
    height: 3.0625rem;
  }



  #add-item {
    & label {
      display: flex;
      flex-direction: row;

      & input {
        width: 28.1875rem;
      }

      & button {
        width: 10rem;
      }
    }
  }
}

#default-items {
  margin-top: 2.5rem;
  gap: .75rem;

  & .item-list {
    align-items: center;
    gap: 0.75rem;
    flex-direction: row;
    position: relative;
    background-color: var(--bg-secondary);
    border-radius: 12px;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-right: auto;
    font-family: 'Inter', sans-serif;
    font-weight: var(--fw-md);
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--content-secondary);
    height: 3.5625rem;

    & span {
      width: 1rem;
      height: 1rem;
      background-image: url(/assets/icons/checkbox.png);
      background-size: cover;
    }

    & button {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: .75rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: .5rem;

    }

  }



}

input[type="checkbox"]:hover+#new-check {
  background-image: url(/assets/icons/hover-checkbox.png);
}

input[type="checkbox"]:checked+#new-check {
  background-image: url(/assets/icons/checked.png);
}